.list {
  position: relative;
  border: 2px solid blue;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .list {
    width: 70%;
  }
}
@media only screen and (max-width: 800px) {
  .list {
    width: 90%;
  }
}

.delete-list-button {
  width: 5%;
  float:right;
  /* text-align: right; */
  margin-top:1%;
  /* margin-left: 95%; */
  /* margin-right: 0; */
}

.newListButton {
  /* content: "+"; */
  font-size: 50px;
  text-align: center;
}

.new-item {
  color: lightgrey;
}

input {
  margin-bottom: 5px;
}

input[id="title"] {
  margin-top: 1%;
  margin-left: 5%;
}

/* .itemDiv {
  text-align: left:
} */

.itemDiv input[type="text"] {
  border: none;
  width: 30%;
}

input[type="date"] {
  width: 30%;
  margin-left: 3px;
  margin-right: 5px;
}
select {
  width: 12%;
}

.delete {
  display: inline;
  margin-left: 5px;
}

.checked input {
  text-decoration: line-through;
  color: lightgrey;
}
